* {
  box-sizing: border-box;
}
html {
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}
.logo {
  display: inline-block;
  vertical-align: middle;
}

.logo a {
  display: inline-block;
  vertical-align: middle;
  color: #a5a5a5;
  font-size: 20px;
  text-transform: uppercase;
  text-decoration: none;
}

.logo a:hover {
  text-decoration: none;
  color: #a5a5a5;
}

.logo img {
  display: inline-block;
  vertical-align: middle;
}

.header ul {
  display: inline-block;
  vertical-align: middle;
  padding: 0;
  font-size: 0;
  width: calc(100% - 235px);
  text-align: right;
}

.header .content {
  border-bottom: 1px solid #ccc;
}

.header ul li {
  display: inline-block;
  vertical-align: middle;
}

.header ul li a {
  text-decoration: none;
  color: #565656;
  padding: 5px 15px;
  transition: all 0.3s ease;
  font-size: 16px;
  text-align: center;
}

.header ul li a:hover {
  color: #2981b7;
}

h1 {
  display: block;
  width: auto;
  line-height: 1.2;
  color: rgb(10, 10, 10);
  font-size: 23px;
}

h2 {
  display: block;
  line-height: 1.2;
  color: rgb(10, 10, 10);
  font-size: 19px;
  margin-top: 25px;
}

h2::after {
  content: "";
  margin-top: 12px;
  border-bottom: 4px solid rgb(22, 141, 226);
  display: block;
}

a {
  color: rgb(35, 82, 124);
  text-decoration: underline;
}

a:hover {
  color: rgb(176, 73, 59);
}

hr {
  margin-top: 20px;
  margin-bottom: 20px;
  border-width: 1px 0px 0px;
  border-style: solid none none;
  border-color: rgb(238, 238, 238) currentcolor currentcolor;
  -moz-border-top-colors: none;
  -moz-border-right-colors: none;
  -moz-border-bottom-colors: none;
  -moz-border-left-colors: none;
  border-image: none;
}

body {
  display: block;
  font-family: "Open Sans", sans-serif;
  background: rgb(250, 250, 250) none repeat scroll 0% 0%;
  height: auto;
  color: rgb(68, 68, 68);
  line-height: 1.5625;
}

.header {
  display: block;
  width: 100%;
  background: transparent none repeat scroll 0% 0%;
  margin: 0px auto;
}

.content {
  display: block;
  width: 97%;
  max-width: 1000px;
  margin: 0px auto;
  background: rgb(255, 255, 255) none repeat scroll 0% 0%;
  padding: 25px 1.5%;
  position: relative;
}

.content-left {
  display: block;
}

.content-left-doctor {
  display: block;
  width: 100%;
  background-color: rgb(226, 226, 226);
  padding: 2%;
  margin-top: 25px;
}

.content-left-doctor-foto {
  display: block;
  width: 48%;
  float: left;
  margin-right: 2%;
}

.content-left-doctor-foto img {
  width: 100%;
  display: block;
}

.content-left-doctor-text {
  display: block;
  width: 50%;
  float: right;
}

.content-left-doctor::after {
  content: "";
  display: block;
  clear: both;
}

.content-important {
  display: block;
  width: auto;
  text-align: left;
  font-weight: bold;
  font-style: italic;
}

.vk-container {
  font-family: tahoma, arial, verdana, sans-serif;
  font-size: 15px;
  color: black;
  text-decoration: none;
}

.vk-header {
  background: rgb(218, 226, 232) none repeat scroll 0% 0%;
  padding: 4px 4px 4px 6px;
  margin-bottom: 10px;
}

.vk-logo {
  background: transparent none no-repeat scroll 0% 0%;
  width: 16px;
  height: 16px;
  float: right;
  margin-top: -1px;
}

.vk-header-text {
  padding: 2px 3px 1px;
  line-height: 100%;
  color: rgb(69, 104, 142);
  font-weight: bold;
}

.vk-comment {
  margin-bottom: 15px;
  position: relative;
  border-bottom: 1px solid rgb(218, 225, 232);
  padding-bottom: 15px;
}

.vk-avatar img {
  float: left;
  margin-right: 10px;
}

.vk-comment-name {
  color: rgb(43, 88, 122);
  font-weight: bold;
  font-size: 12px;
}

.vk-comment-text {
  margin-left: 60px;
}

.vk-comment-date {
  margin-left: 60px;
  color: rgb(153, 153, 153);
}

.content::after {
  content: "";
  display: block;
  clear: both;
}

@media screen and (max-width: 1199px) {

  .content-left {
    width: 100%;
    padding-right: 0px;
  }
}

@media screen and (max-width: 989px) {
  .content {
    max-width: 750px;
    padding: 3% 6%;
    width: 100%;
  }
}

@media screen and (max-width: 599px) {

  .content-left-doctor-foto {
    float: none;
    width: 100%;
  }

  .content-left-doctor-text {
    float: none;
    width: 100%;
    margin-top: 3%;
  }
}

.rub-ramka {
  margin-top: 22px;
  margin-bottom: 18px;
  background: rgba(189, 61, 77, 0.04);
  padding: 12px 15px !important;
  color: rgb(8, 8, 8);
  font-size: 18px;
  font-family: roboto condensed, arial;
  border: 2px solid;
  border-radius: 4px;
  border-color: #bd3d4d;
  text-shadow: 0 0 0 #616161;
  text-indent: 0 !important;
  text-align: left;
}

.pic {
  display: block;
  max-width: 85%;
  margin: 0 auto;
}

.pic .product {
  width: 230px;
  margin: auto;
  max-width: 100%;
}

.pic img {
  display: block;
  width: 100%;
}

.content-left img {
  max-width: 100%;
}

@media all and (max-width: 1023px) {
  .header ul {
    display: none;
  }
  .logo {
    width: 100%;
    text-align: center;
  }
}

@media all and (max-width: 414px) {
  .spoiler {
    width: 100%;
  }
}
* {
  outline: none;
}
.widget:brfore {
  content: "";
  position: absolute;
  bottom: -11px;
  left: 27px;
  border-left: 10px solid transparent;
  border-top: 10px solid #dad7b2;
  border-right: 10px solid transparent;
}

.order_block {
  display: block;
}

.content .product img {
  width: 230px;
  max-width: 100%;
  display: block;
  margin: 0 auto;
  filter: drop-shadow(3px 5px 8px #000);
}

form {
  display: block !important;
  margin: 0 auto !important;
  text-align: center !important;
}

p.priceс {
  position: relative;
  right: -90px;
  bottom: -90px;
  color: rgb(0, 0, 0);
  box-shadow: rgba(0, 0, 0, 0.8) 0px 3px 30px;
  width: 180px;
  height: 105px;
  font-size: 18px;
  font-weight: bold;
  line-height: 1.3;
  transform: rotateZ(-16deg);
  text-align: center !important;
  margin: -160px auto 30px;
  background: linear-gradient(to right, rgb(238, 165, 19) 0%, rgb(253, 237, 19) 100%);
  border-width: 2px;
  border-style: solid;
  border-color: rgb(255, 255, 255);
  border-radius: 19%;
  padding: 5px;
}

.priceс span {
  display: block;
  font-size: 20px;
}

.priceс .old_price {
  text-decoration: line-through;
}

.new_price {
  border-bottom: 2px solid #f00;
  margin: 0 auto;
  width: 88%;
  color: red;
  font-size: 23px !important;
}
.product {
  margin-bottom: 130px;
}

label {
  display: block;
  margin: 10px auto;
  text-align: center;
  font-size: 18px;
  font-weight: normal;
}

.form_group {
  padding: 10px;
  display: block;
  margin: 10px auto;
  border: 2px solid grey;
  border-radius: 5px;
  width: 460px;
  max-width: 100%;
}

.form_btn {
  display: block;
  margin: 20px auto;
  padding: 20px;
  font-size: 20px;
  text-decoration: none;
  background-color: #de0606;
  text-align: center;
  color: #fff !important;
  border-radius: 4px;
  border: none;
  cursor: pointer;
}

.form_btn:hover {
  opacity: 0.8;
}

.order_block h2 {
  font-size: 22px;
  text-align: center;
  font-weight: bold;
}

.red {
  color: #f00;
}

@media all and (max-width: 768px) {
  p.priceс {
    right: -50px;
  }
}

.centering {
  text-align: center;
  margin: auto;
}
.red {
  color: red;
}
.x_country_select {display:none!important;}
.stl {
  font-weight: 500; color: rgb(226, 36, 60)
}
.stl2 {
  border-bottom: 1px dashed; color: rgb(226, 36, 60); text-decoration: none
}
.stl3 {
  border-bottom: 1px dashed; text-decoration: none; text-transform: uppercase; color: rgb(226, 36, 60)
}
.stl4 {
  max-width: 405px
}